nav header ul {
	margin: -20%
}
ul{
	text-align: right;
	list-style: none;
	top: 10px;
	float: right;
}
ul li {
	display: inline;
}
form {
	display: block;
	border: 80%;
	width: 60%;
	background-color: red;

}

.indexbanner-bg3{ height: 400px; width: 100%;
	background-image: url('indexbanner-bg3.jpg');

}
.logo{
	width:50px:; 
	height:50px

}
#modulo1 div {
	float: 20% left;


}
